{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Overview</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
        <body>
            <h1 style="text-align: center;">Welcome to account overview!</h1>
            <ul style="text-align: center; list-style-type: none;" class="button">
                <li><a href="#">PURCHASE</a></li>
                <li><a href="#">SELL</a></li>
                <li><a href="#">VIEW</a></li>
            </ul>            
        </body>
</html>


