<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Overview</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="gallery-container" id="nftGallery">
        <div class="nft-item">
            <img src="{% static 'img/jacobPokemonCard.png' %}" alt="Jacob's Pokemon Card">
            <p>Jacob's Pokemon Card</p>
        </div>
        <div class="nft-item">
            <img src="{% static 'img/BaldBadBoyCard.png' %}" alt="Bald Bad Boy Card">
            <p>Bald Bad Boy Card</p>
        </div>
        <div class="nft-item">
            <img src="{% static 'img/PrayingCoobCard.png' %}" alt="Praying Coob Card">
            <p>Praying Coob Card</p>
        </div>
    </div>
</body>
</html>
