{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFT Marketplace</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/marketplace.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="sidebar">
        <h2>ETH Price</h2>
        <p>$35,267</p> <!-- Display the current ETH price here -->
        <h2>Wallet Balance</h2>
        <p>1000 ETH</p> <!-- Display the user's wallet balance here -->


        <h2>Gas Prices</h2>
        <p id="standardGas">Standard: 2e10 Gwei</p> <!-- Display the standard gas price here -->
        <p id="fastGas">Fast: 2.2e10 Gwei</p> <!-- Display the fast gas price here -->
        <p id="instantGas">Instant: 3.5e10 Gwei</p> <!-- Display the instant gas price here -->
    </div>
    <div class="gallery-container" id="nftGallery">
        <div class="nft-item">
            <img src="{% static 'img/jacobPokemonCard.png' %}" alt="Jacob's Pokemon Card">
            <p>Jacob's Pokemon Card</p>
            <p>Price: 0.5 ETH</p>
            <p>Transaction Fee: 0.01 ETH</p>
            <a href="http://localhost:9030/jacobPokemonCard.png">View on Blockchain</a>
        </div>
        <div class="nft-item">
            <img src="{% static 'img/PrayingCoobCard.png' %}" alt="Praying Coob Card">
            <p>Praying Coob Card</p>
            <p>Price: 0.3 ETH</p>
            <p>Transaction Fee: 0.01 ETH</p>
            <a href="http://localhost:9030/PrayingCoobCard.png">View on Blockchain</a>
        </div>
    </div>

    <!-- JavaScript code for fetching and displaying gas prices -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            function fetchGasPrices() {
                $.getJSON('your_gas_price_api_url', function(data) {
                    $('#standardGas').text('Standard: ' + data.standard + ' gwei');
                    $('#fastGas').text('Fast: ' + data.fast + ' gwei');
                    $('#instantGas').text('Instant: ' + data.instant + ' gwei');
                });
            }

            fetchGasPrices();
            setInterval(fetchGasPrices, 5 * 60 * 1000); // 5 minutes in milliseconds
        });
    </script>
</body>
</html>
