/* Base Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: black;
    margin: 0;
    padding: 0;
}

a, .sidenav a {
    color: #040404;
    text-decoration: none;
}

a:hover {
    color: #3fb24c;
}

h1, h2, h3 {
    font-weight: 300;
    margin-bottom: 20px;
}

ul {
    list-style-type: none; /* Removes bullet points */
    text-align: center;
    padding: 0; /* Removes default padding */
}

/* Flexbox Centering */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Containers */
.container, .text-center, .btn-group, .gallery-container, .nft-item {
    height: 100vh; /* adjust this only in .container if different heights are needed */
}

.gallery-container, .nft-item {
    flex-direction: column;
    gap: 15px;
    max-width: 600px; /* specific to gallery, can adjust or remove */
    border: 2px solid #ddd;
    padding: 10px;
    margin: 20px auto;
    background-color: #f9f9f9;
}

/* Style individual li as buttons */
.button li {
    display: inline-block; /* Align horizontally */
    margin: 10px; /* Spacing between buttons */
}

.button a {
    display: inline-block;
    padding: 10px 20px; /* Button-like appearance */
    background-color: #1c8bec; /* Button background */
    color: #040404; /* Text color */
    text-decoration: none; /* Removes underline */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid #ddd; /* Border around the buttons */
}

.button a:hover {
    background-color: #f65c4b; /* Change color on hover */
    color: white; /* Text color change on hover */
}

/* Image Styling */
img, .gallery-container img, .nft-item img {
    object-fit: contain;
    border-radius: 10px;
    width: 400px; /* Adjust based on your preference */
    height: auto; /* Maintain aspect ratio */
}

/* Specific Element Adjustments */
.navbar .dropdown-menu {
    min-width: 100%; /* adjust to dropdown button width */
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-nav .nav-link {
    color: #000;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color: #fff;
}

.custom-list {
    width: 200px;
    height: 40px;
    line-height: 40px;
    background-color: #add8e6;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.hamburger-menu {
    cursor: pointer;
    border: none;
    background-color: transparent;
    gap: 4px;
    padding: 10px;
}

.hamburger-menu span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
}

.sidenav ul {
    list-style: none;
}
